Repository conermurphy/cdk-tutorials: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.{json,css}": [
        "prettier --write"
    ],
    "**/*.{ts,tsx,js,jsx}": [
        "prettier --write",
        "eslint --fix"
    ]
}

feat: added dynamo compression tutorial stack
  dynamodb-compression/README.md
  dynamodb-compression/bin/dynamodb-compression.ts
  dynamodb-compression/cdk.json
  dynamodb-compression/lib/dynamodb-compression-stack.ts
  dynamodb-compression/package-lock.json
  dynamodb-compression/package.json
  dynamodb-compression/resources/read-handler.ts
  dynamodb-compression/resources/write-handler.ts
  dynamodb-compression/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated comment
  dynamodb-compression/lib/dynamodb-compression-stack.ts
Due: prettier --write, eslint --fix

feat: added example for lambda-layers
  .eslintrc.json
  .lintstagedrc
  lambda-layers/README.md
  lambda-layers/bin/lambda-layers.ts
  lambda-layers/cdk.json
  lambda-layers/lib/lambda-layers-stack.ts
  lambda-layers/package-lock.json
  lambda-layers/package.json
  lambda-layers/resources/lambdas/layer-lambda.ts
  lambda-layers/resources/lambdas/non-layer-lambda.ts
  lambda-layers/resources/layers/loremIpsum/nodejs/loremIpsum.ts
  lambda-layers/resources/layers/loremIpsum/nodejs/package-lock.json
  lambda-layers/resources/layers/loremIpsum/nodejs/package.json
  lambda-layers/resources/layers/loremIpsum/nodejs/tsconfig.json
  lambda-layers/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: updated layers post repo
  lambda-layers/resources/lambdas/layer-lambda.ts
  lambda-layers/resources/lambdas/non-layer-lambda.ts
  lambda-layers/resources/layers/loremIpsum/nodejs/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated eslint config
  .eslintrc.js
  .eslintrc.json
  lambda-layers/resources/layers/loremIpsum/nodejs/tsconfig.json
  package.json
Due: prettier --write, eslint --fix

ci: added prod deploy workflow
  .github/workflows/cdk-prod-deploy.yml
Due: none

chore: updated package-lock.json
  package-lock.json
Due: prettier --write

ci: destroy deployed stack
  .github/workflows/cdk-prod-deploy.yml
Due: none

chore: commented out workflows
  .github/workflows/cdk-prod-deploy-root-directory.yml
  .github/workflows/cdk-prod-deploy-sub-directory.yml
  .github/workflows/cdk-prod-deploy.yml
Due: none

feat: added lambda cron job trigger example project
  lambda-cron-job-trigger/.gitignore
  lambda-cron-job-trigger/.npmignore
  lambda-cron-job-trigger/README.md
  lambda-cron-job-trigger/bin/lambda-cron-job-trigger.ts
  lambda-cron-job-trigger/cdk.json
  lambda-cron-job-trigger/lib/lambda-cron-job-trigger-stack.ts
  lambda-cron-job-trigger/package-lock.json
  lambda-cron-job-trigger/package.json
  lambda-cron-job-trigger/resources/lambdas/hello-world.ts
  lambda-cron-job-trigger/tsconfig.json
Due: prettier --write, eslint --fix

feat: added eventbridge scheduler example project
  eventbridge-scheduler/.gitignore
  eventbridge-scheduler/.npmignore
  eventbridge-scheduler/README.md
  eventbridge-scheduler/bin/eventbridge-scheduler.ts
  eventbridge-scheduler/cdk.json
  eventbridge-scheduler/lib/eventbridge-scheduler-stack.ts
  eventbridge-scheduler/package-lock.json
  eventbridge-scheduler/package.json
  eventbridge-scheduler/resources/one-off.ts
  eventbridge-scheduler/resources/recurring.ts
  eventbridge-scheduler/tsconfig.json
Due: prettier --write, eslint --fix

feat: added route 53 dns trigger lambda example
  route-53-dns-trigger-lambda/.gitignore
  route-53-dns-trigger-lambda/.npmignore
  route-53-dns-trigger-lambda/README.md
  route-53-dns-trigger-lambda/bin/route-53-dns-trigger-lambda.ts
  route-53-dns-trigger-lambda/cdk.json
  route-53-dns-trigger-lambda/lib/route-53-dns-trigger-lambda-stack.ts
  route-53-dns-trigger-lambda/package-lock.json
  route-53-dns-trigger-lambda/package.json
  route-53-dns-trigger-lambda/resources/test-lambda.ts
  route-53-dns-trigger-lambda/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated route 53 dns stack example
  route-53-dns-trigger-lambda/lib/route-53-dns-trigger-lambda-stack.ts
Due: prettier --write, eslint --fix

feat: added stack envs project
  stack-envs/.gitignore
  stack-envs/.npmignore
  stack-envs/README.md
  stack-envs/bin/aws-env.ts
  stack-envs/cdk.json
  stack-envs/lib/aws-env-stack.ts
  stack-envs/lib/config.ts
  stack-envs/package-lock.json
  stack-envs/package.json
  stack-envs/resources/test-lambda.ts
  stack-envs/tsconfig.json
Due: prettier --write, eslint --fix

feat: added route 53 update a record example
  .eslintrc.js
  route-53-update-a-record/.gitignore
  route-53-update-a-record/.npmignore
  route-53-update-a-record/README.md
  route-53-update-a-record/bin/route-53-update-a-record.ts
  route-53-update-a-record/cdk.json
  route-53-update-a-record/lib/route-53-update-a-record-stack.ts
  route-53-update-a-record/package-lock.json
  route-53-update-a-record/package.json
  route-53-update-a-record/resources/update-record.ts
  route-53-update-a-record/tsconfig.json
Due: prettier --write, eslint --fix

chore: removed comment
  route-53-update-a-record/lib/route-53-update-a-record-stack.ts
Due: prettier --write, eslint --fix

chore: added comments
  route-53-update-a-record/resources/update-record.ts
Due: prettier --write, eslint --fix

feat: renamed example project
  route-53-update-dns-record/.gitignore
  route-53-update-dns-record/.npmignore
  route-53-update-dns-record/README.md
  route-53-update-dns-record/bin/route-53-update-dns-record.ts
  route-53-update-dns-record/cdk.json
  route-53-update-dns-record/lib/route-53-update-dns-record-stack.ts
  route-53-update-dns-record/package-lock.json
  route-53-update-dns-record/package.json
  route-53-update-dns-record/resources/update-record.ts
  route-53-update-dns-record/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated comments
  route-53-update-dns-record/resources/update-record.ts
Due: prettier --write, eslint --fix

feat: added cloudwatch alarm ses notifications example
  cloudwatch-alarms-ses-notifications/.gitignore
  cloudwatch-alarms-ses-notifications/.npmignore
  cloudwatch-alarms-ses-notifications/README.md
  cloudwatch-alarms-ses-notifications/bin/cloudwatch-alarms-ses-notifications.ts
  cloudwatch-alarms-ses-notifications/cdk.json
  cloudwatch-alarms-ses-notifications/lib/cloudwatch-alarms-ses-notifications-stack.ts
  cloudwatch-alarms-ses-notifications/package-lock.json
  cloudwatch-alarms-ses-notifications/package.json
  cloudwatch-alarms-ses-notifications/resources/example.ts
  cloudwatch-alarms-ses-notifications/tsconfig.json
Due: prettier --write, eslint --fix

chore: renamed example project
  cloudwatch-alarms-ses-notifications/bin/cloudwatch-alarms-ses-notifications.ts
  cloudwatch-alarms-sns-notifications/.gitignore
  cloudwatch-alarms-sns-notifications/.npmignore
  cloudwatch-alarms-sns-notifications/README.md
  cloudwatch-alarms-sns-notifications/bin/cloudwatch-alarms-sns-notifications.ts
  cloudwatch-alarms-sns-notifications/cdk.json
  cloudwatch-alarms-sns-notifications/lib/cloudwatch-alarms-sns-notifications-stack.ts
  cloudwatch-alarms-sns-notifications/package-lock.json
  cloudwatch-alarms-sns-notifications/package.json
  cloudwatch-alarms-sns-notifications/resources/example.ts
  cloudwatch-alarms-sns-notifications/tsconfig.json
Due: prettier --write, eslint --fix

feat: added api with api key auth example
  rest-api-with-api-key-auth/.gitignore
  rest-api-with-api-key-auth/.npmignore
  rest-api-with-api-key-auth/README.md
  rest-api-with-api-key-auth/bin/rest-api-with-api-key-auth.ts
  rest-api-with-api-key-auth/cdk.json
  rest-api-with-api-key-auth/lib/rest-api-with-api-key-auth-stack.ts
  rest-api-with-api-key-auth/package-lock.json
  rest-api-with-api-key-auth/package.json
  rest-api-with-api-key-auth/resources/endpoints/post.ts
  rest-api-with-api-key-auth/resources/endpoints/posts.ts
  rest-api-with-api-key-auth/resources/handlers/posts/create.ts
  rest-api-with-api-key-auth/resources/handlers/posts/delete.ts
  rest-api-with-api-key-auth/resources/handlers/posts/get-all.ts
  rest-api-with-api-key-auth/resources/handlers/posts/get-one.ts
  rest-api-with-api-key-auth/tsconfig.json
  rest-api-with-api-key-auth/types.ts
Due: prettier --write, eslint --fix

chore: updated packages
  package-lock.json
  package.json
  rest-api-with-api-key-auth/package-lock.json
  rest-api-with-api-key-auth/package.json
Due: prettier --write

feat: added graphql api example
  .eslintrc.js
  graphql-api/.gitignore
  graphql-api/.npmignore
  graphql-api/README.md
  graphql-api/bin/graphql-api-with-api-key-auth.ts
  graphql-api/cdk.json
  graphql-api/graphql/resolvers/Mutation.createPost.req.vtl
  graphql-api/graphql/resolvers/Mutation.createPost.res.vtl
  graphql-api/graphql/resolvers/Mutation.deletePost.req.vtl
  graphql-api/graphql/resolvers/Mutation.deletePost.res.vtl
  graphql-api/graphql/resolvers/Query.getAllPosts.req.vtl
  graphql-api/graphql/resolvers/Query.getAllPosts.res.vtl
  graphql-api/graphql/resolvers/Query.getPost.req.vtl
  graphql-api/graphql/resolvers/Query.getPost.res.vtl
  graphql-api/graphql/schema.graphql
  graphql-api/lib/graphql-api-with-api-key-auth-stack.ts
  graphql-api/package-lock.json
  graphql-api/package.json
  graphql-api/tsconfig.json
Due: prettier --write, eslint --fix

chore: updates to the graphql api example
  graphql-api/graphql/resolvers/Query.getAllPosts.req.vtl
  graphql-api/lib/graphql-api-with-api-key-auth-stack.ts
Due: prettier --write, eslint --fix

chore: updated graphql schema
  graphql-api/graphql/schema.graphql
Due: none

docs: updated readme files
  LICENSE.md
  README.md
  cloudwatch-alarms-sns-notifications/README.md
  dynamodb-compression/README.md
  eventbridge-scheduler/README.md
  graphql-api/README.md
  lambda-cron-job-trigger/README.md
  lambda-layers/README.md
  rest-api-with-api-key-auth/README.md
  route-53-dns-trigger-lambda/README.md
  route-53-update-dns-record/README.md
  stack-envs/README.md
  triggering-lambdas-eventbus/README.md
Due: none

docs: updated readme subtitles
  cloudwatch-alarms-sns-notifications/README.md
  dynamodb-compression/README.md
  eventbridge-scheduler/README.md
  graphql-api/README.md
  lambda-cron-job-trigger/README.md
  lambda-layers/README.md
  rest-api-with-api-key-auth/README.md
  route-53-dns-trigger-lambda/README.md
  route-53-update-dns-record/README.md
  stack-envs/README.md
  triggering-lambdas-eventbus/README.md
Due: none

feat: added warm cold lambda example
  warm-cold-lambdas/.gitignore
  warm-cold-lambdas/.npmignore
  warm-cold-lambdas/README.md
  warm-cold-lambdas/bin/warm-cold-lambdas.ts
  warm-cold-lambdas/cdk.json
  warm-cold-lambdas/lib/warm-cold-lambdas-stack.ts
  warm-cold-lambdas/package-lock.json
  warm-cold-lambdas/package.json
  warm-cold-lambdas/resources/cold-lambda.ts
  warm-cold-lambdas/resources/warm-lambda.ts
  warm-cold-lambdas/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated warm lambda example
  warm-cold-lambdas/resources/warm-lambda.ts
Due: prettier --write, eslint --fix

chore: renamed project
  README.md
  pre-warming-lambdas-eventbridge-rules/.gitignore
  pre-warming-lambdas-eventbridge-rules/.npmignore
  pre-warming-lambdas-eventbridge-rules/README.md
  pre-warming-lambdas-eventbridge-rules/bin/warm-cold-lambdas.ts
  pre-warming-lambdas-eventbridge-rules/cdk.json
  pre-warming-lambdas-eventbridge-rules/lib/warm-cold-lambdas-stack.ts
  pre-warming-lambdas-eventbridge-rules/package-lock.json
  pre-warming-lambdas-eventbridge-rules/package.json
  pre-warming-lambdas-eventbridge-rules/resources/cold-lambda.ts
  pre-warming-lambdas-eventbridge-rules/resources/warm-lambda.ts
  pre-warming-lambdas-eventbridge-rules/tsconfig.json
Due: prettier --write, eslint --fix

chore: renamed project
  pre-warming-lambdas-eventbridge-rules/cdk.json
  pre-warming-lambdas-eventbridge-rules/tsconfig.json
Due: prettier --write

chore: updated readme
  README.md
Due: none

feat: added ses send email api example
  .eslintignore
  README.md
  pre-warming-lambdas-eventbridge-rules/README.md
  ses-send-email-api/.npmignore
  ses-send-email-api/README.md
  ses-send-email-api/bin/ses-send-email-api.ts
  ses-send-email-api/cdk.json
  ses-send-email-api/lib/ses-send-email-api-stack.ts
  ses-send-email-api/package-lock.json
  ses-send-email-api/package.json
  ses-send-email-api/resources/send-email.ts
  ses-send-email-api/tsconfig.json
Due: prettier --write, eslint --fix

feat: added ses send email api example
  ses-send-email-api/cdk.json
  ses-send-email-api/tsconfig.json
Due: prettier --write

feat: added graphql ts resolvers post
  .eslintignore
  .eslintrc.js
  .gitignore
  graphql-api-typescript-resolvers/.gitignore
  graphql-api-typescript-resolvers/.npmignore
  graphql-api-typescript-resolvers/README.md
  graphql-api-typescript-resolvers/bin/graphql-api-typescript-resolvers.ts
  graphql-api-typescript-resolvers/build.mjs
  graphql-api-typescript-resolvers/cdk.json
  graphql-api-typescript-resolvers/graphql/.graphqlconfig.yml
  graphql-api-typescript-resolvers/graphql/schema.graphql
  graphql-api-typescript-resolvers/graphql/ts-resolvers/create-post.ts
  graphql-api-typescript-resolvers/graphql/ts-resolvers/delete-post.ts
  graphql-api-typescript-resolvers/graphql/ts-resolvers/get-all-posts.ts
  graphql-api-typescript-resolvers/graphql/ts-resolvers/get-one-post.ts
  graphql-api-typescript-resolvers/graphql/types/graphql.ts
  graphql-api-typescript-resolvers/lib/graphql-api-typescript-resolvers-stack.ts
  graphql-api-typescript-resolvers/package-lock.json
  graphql-api-typescript-resolvers/package.json
  graphql-api-typescript-resolvers/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated graphql ts resolvers post
  graphql-api-typescript-resolvers/graphql/ts-resolvers/delete-post.ts
Due: prettier --write, eslint --fix

chore: updated readmes
  README.md
  graphql-api-typescript-resolvers/README.md
Due: none
