Repository conermurphy/cdk-tutorials: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: updated graphql ts resolvers post
  graphql-api-typescript-resolvers/graphql/.graphqlconfig.yml
  graphql-api-typescript-resolvers/graphql/ts-resolvers/create-post.ts
  graphql-api-typescript-resolvers/graphql/ts-resolvers/delete-post.ts
  graphql-api-typescript-resolvers/graphql/ts-resolvers/get-one-post.ts
  graphql-api-typescript-resolvers/graphql/types/graphql.ts
  graphql-api-typescript-resolvers/graphql/types/mutations.ts
  graphql-api-typescript-resolvers/graphql/types/queries.ts
  graphql-api-typescript-resolvers/lib/graphql-api-typescript-resolvers-stack.ts
  graphql-api-typescript-resolvers/package-lock.json
  graphql-api-typescript-resolvers/package.json
Due: prettier --write, eslint --fix

feat: added api key throttling post
  rest-api-api-key-throttling/.gitignore
  rest-api-api-key-throttling/.npmignore
  rest-api-api-key-throttling/README.md
  rest-api-api-key-throttling/bin/rest-api-api-key-throttling.ts
  rest-api-api-key-throttling/cdk.json
  rest-api-api-key-throttling/lib/rest-api-api-key-throttling-stack.ts
  rest-api-api-key-throttling/package-lock.json
  rest-api-api-key-throttling/package.json
  rest-api-api-key-throttling/rate-limit-test.ts
  rest-api-api-key-throttling/resources/posts.ts
  rest-api-api-key-throttling/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated rate limiting
  rest-api-api-key-throttling/lib/rest-api-api-key-throttling-stack.ts
Due: eslint --fix

chore: updated api keys throttling readme
  rest-api-api-key-throttling/README.md
Due: none

chore: updated root readme
  README.md
Due: none

feat: added bedrock sdk requests repo
  bedrock-sdk-requests/README.md
  bedrock-sdk-requests/bin/bedrock-sdk-requests.ts
  bedrock-sdk-requests/cdk.json
  bedrock-sdk-requests/lib/bedrock-sdk-requests-stack.ts
  bedrock-sdk-requests/package-lock.json
  bedrock-sdk-requests/package.json
  bedrock-sdk-requests/resources/image-lambda.ts
  bedrock-sdk-requests/resources/text-lambda.ts
  bedrock-sdk-requests/tsconfig.json
Due: prettier --write, eslint --fix

chore: added comments and updated output
  bedrock-sdk-requests/resources/text-lambda.ts
Due: eslint --fix

docs: updated readme files and links
  README.md
  bedrock-sdk-requests/README.md
  ses-send-email-api/README.md
Due: none

chore: removed eslint
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  graphql-api-typescript-resolvers/graphql/types/graphql.ts
  graphql-api-typescript-resolvers/graphql/types/mutations.ts
  graphql-api-typescript-resolvers/graphql/types/queries.ts
  lambda-layers/cdk.json
  lambda-layers/resources/layers/loremIpsum/nodejs/package-lock.json
  lambda-layers/resources/layers/loremIpsum/nodejs/package.json
  lambda-layers/tsconfig.json
  package-lock.json
  package.json
  pre-warming-lambdas-eventbridge-rules/bin/warm-cold-lambdas.ts
  tsconfig.json
Due: prettier --write, eslint --fix

docs: updated readmes
  README.md
  bedrock-sdk-requests/README.md
Due: none

feat: added example project for api throttling with WAF
  rest-api-throttling-waf/.gitignore
  rest-api-throttling-waf/.npmignore
  rest-api-throttling-waf/README.md
  rest-api-throttling-waf/bin/rest-api-throttling-waf.ts
  rest-api-throttling-waf/cdk.json
  rest-api-throttling-waf/lib/rest-api-throttling-waf-stack.ts
  rest-api-throttling-waf/package-lock.json
  rest-api-throttling-waf/package.json
  rest-api-throttling-waf/rate-limit-test.ts
  rest-api-throttling-waf/resources/posts.ts
  rest-api-throttling-waf/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated readme for new post
  README.md
  rest-api-throttling-waf/README.md
Due: none

feat: added start fargate service example project
  start-fargate-service-lambda/README.md
  start-fargate-service-lambda/bin/start-fargate-service-lambda.ts
  start-fargate-service-lambda/cdk.json
  start-fargate-service-lambda/lib/start-fargate-service-lambda-stack.ts
  start-fargate-service-lambda/package-lock.json
  start-fargate-service-lambda/package.json
  start-fargate-service-lambda/resources/start-service.ts
  start-fargate-service-lambda/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated code
  start-fargate-service-lambda/lib/start-fargate-service-lambda-stack.ts
Due: eslint --fix

docs: updated readmes
  README.md
  start-fargate-service-lambda/README.md
Due: none

feat: added lambda to ecs migration tutorial code
  migrate-lambda-to-ecs/Dockerfile
  migrate-lambda-to-ecs/README.md
  migrate-lambda-to-ecs/bin/migrate-lambda-to-ecs.ts
  migrate-lambda-to-ecs/cdk.json
  migrate-lambda-to-ecs/lib/migrate-lambda-to-ecs-stack.ts
  migrate-lambda-to-ecs/package-lock.json
  migrate-lambda-to-ecs/package.json
  migrate-lambda-to-ecs/resources/ecs-server.ts
  migrate-lambda-to-ecs/resources/lambda.ts
  migrate-lambda-to-ecs/tsconfig.json
  package-lock.json
Due: prettier --write, eslint --fix

docs: updated readme
  README.md
  migrate-lambda-to-ecs/README.md
Due: none

feat: added example project for appsync envs
  appsync-envs/README.md
  appsync-envs/bin/appsync-envs.ts
  appsync-envs/build.mjs
  appsync-envs/cdk.json
  appsync-envs/graphql/resolvers/ts/create-item.ts
  appsync-envs/graphql/resolvers/ts/get-item.ts
  appsync-envs/graphql/schema.graphql
  appsync-envs/lib/appsync-envs-stack.ts
  appsync-envs/package-lock.json
  appsync-envs/package.json
  appsync-envs/tsconfig.json
Due: prettier --write, eslint --fix

chore: updated code
  appsync-envs/lib/appsync-envs-stack.ts
  appsync-envs/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix

docs: updated readmes
  README.md
  appsync-envs/README.md
Due: none

feat: add example project for openapi spec rest api guide
  openapi-spec-rest-api-ts/README.md
  openapi-spec-rest-api-ts/bin/openapi-spec-rest-api-ts.ts
  openapi-spec-rest-api-ts/cdk.json
  openapi-spec-rest-api-ts/lib/openapi-spec-rest-api-ts-stack.ts
  openapi-spec-rest-api-ts/openapi-spec.json
  openapi-spec-rest-api-ts/package-lock.json
  openapi-spec-rest-api-ts/package.json
  openapi-spec-rest-api-ts/resources/create-book.ts
  openapi-spec-rest-api-ts/resources/get-all-books.ts
  openapi-spec-rest-api-ts/tsconfig.json
  openapi-spec-rest-api-ts/types/openapi.d.ts
Due: prettier --write, eslint --fix

chore: updated responses
  openapi-spec-rest-api-ts/resources/create-book.ts
  openapi-spec-rest-api-ts/resources/get-all-books.ts
Due: eslint --fix

docs: updated readmes
  README.md
  openapi-spec-rest-api-ts/README.md
Due: none

feat: add example project for dkim ses configuration
  ses-email-dkim-configuration/.gitignore
  ses-email-dkim-configuration/.npmignore
  ses-email-dkim-configuration/README.md
  ses-email-dkim-configuration/bin/ses-email-dkim-configuration.ts
  ses-email-dkim-configuration/cdk.json
  ses-email-dkim-configuration/lib/ses-email-dkim-configuration-stack.ts
  ses-email-dkim-configuration/package-lock.json
  ses-email-dkim-configuration/package.json
  ses-email-dkim-configuration/tsconfig.json
Due: prettier --write, eslint --fix

docs: update readmes for ses dkim post
  README.md
  ses-email-dkim-configuration/README.md
Due: none

chore: update readme link
  README.md
Due: none

chore: update post titles
  README.md
  ses-email-dkim-configuration/README.md
Due: none

Path conditions:
  prettier --write: any of: **/*.{json,css}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
